img {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedido {
  padding: 25px;
}

button {
  background-color: dodgerblue;
  padding: 15px;
  border: none;
}